* {
			box-sizing: border-box;
		}
		
		html,body{
			margin:0;
			padding:0;
		}

		body {
			font-family: Helvetica;
			line-height:1.42857143;
		}
		
		input {
		font-size: 16px;
		color: black;
	}
		
		.logo{
			width:15% ;
			height:auto; 
			margin:0% 48% 0% 5%;
			transition: transform 0.3s;
			vertical-align: middle;
		}
		
		.logo:hover {
			transform: scale(1.25);
		}
		
		.nav-bar {
			text-align:left; 
			padding-top:20px; 
			background-color:#2b061e; 
			color: #dfaee8;
			padding-bottom: 10px;
			
		}
		
	    .nav-list {
			padding-bottom: 20px;
			font-size: 3vw;
			padding-left: 1%;
			border-left:2px solid #dfaee8;
		}		
		
		.nav-list-box {
			padding: 10px;
			font-size: 2vw;
			margin: 1%;
			padding-left: 1%;
			border-left:2px solid #dfaee8;
		}
		
		.nav-list-box:hover {
			color: #dfaee8;
		}
		
		li a {
			text-decoration: none;
			color: black;
		}
		
		li {
			display : inline;
		}
		
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			margin-bottom: 1%;
		}
		
		.contact-us{
		background-color:#2b061e;
		color:#dfaee8;
		padding:15px;
		padding-bottom: 10px;
		margin-top:10%;
		
		}
		
		.CU-element{
			padding-bottom: 10px;
			padding-top: 10px;
			font-size: 1.8vw;
			margin: 1% 5% 1% 1%;
			padding-left: 1%;
			border-left:2px solid #dfaee8;
		}
		
		.CU-tag, .Hometag {
			color: #dfaee8;
			font-variant: small-caps;
		}
		
		.CU-tag:hover, .Hometag:hover {
			color: #fffff2;
			text-decoration: none;
		}
		
		.contact-list {
			padding-top:2%;
		}
		

		
@media screen and (max-width:1300px) {
			.nav-list{
				font-size : 24px;
			}
			li {
				display:block;
			}
			.CU-element, .nav-list-box {
				font-size: 18px;
			}
			.logo{
				width: 150px;
				margin-bottom : 20px;
			}
		}